<!DOCTYPE html>
<html style=''>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Scripts -->
    <script src='popup.js'></script>
    <script src='index.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.7/angular-material.js'></script>
  </head>

  </style>

  <body style="width:400px">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-4 px-0">
          <center>
            <h1 style="font-size:50px;font-weight:heavy;" class="lead my-3">SENTIMENTLY</h1>

            <p class="lead my-3">Your Average Sentiment Score:</p>
            <h1 class="display-4 font-italic">
              <div id='average'>Getting...</div>
            </h1>
            <img id="user_average_emoji" style="width:50px;" src="emojis/0.0.png"/>
            <hr></hr>
            <p class="lead my-3">This page's sentiment score:</p>
            <h1 class="display-4 font-italic">

            <div id='message'>Calculating....</div>

            <img id="page_emoji" style="width:50px;" src="emojis/0.0.png"/>

          </h1>

          </center>
          <!-- <h1 class="display-4 font-italic">100</h1> -->
        </div>
    </div>

    <div class="FixedHeightContainer">
      <!-- <h2>Title</h2> -->
      <div class="Content">


    <div class="content" style="font-family:Raleway;">
      <div class = "wrap"  ng-cloak="" class="carddemoInCardActions" ng-app="MyApp">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex-xs="" flex-gt-xs="30" layout="column">

          <md-card>
                <div  ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" >
                <div style ="width:100%;">

        <!-- Articles -->
        <md-card>
              <div  ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-app="MyApp">
              <div style ="width:100%;">


                <md-content>
                  <md-list flex="">
                    <md-subheader class="md-no-sticky">Some uplifting news (just for you :).</md-subheader>
                    <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://www.nytimes.com/2018/01/27/business/its-not-a-roar-but-the-global-economy-is-finally-making-noise.html');">
                      <div class="md-list-item-text" layout="column">
                        <h3><a href = "https://www.nytimes.com/2018/01/27/business/its-not-a-roar-but-the-global-economy-is-finally-making-noise.html">Every One of the Worlds Big Economies Is Now Growing</a></h3>
                        <h4>By The NY TIMES</h4>
                        <p>LONDON — A decade after the world descended into a devastating economic crisis, a key marker of revival has finally been achieved. Every major economy on earth is expanding at once, a synchronous wave of growth that is creating jobs, lifting fortunes and tempering fears of popular discontent...</p>
                      </div>
                    </md-list-item>
                    <hr></hr>
                    <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://www.nytimes.com/2018/01/27/business/its-not-a-roar-but-the-global-economy-is-finally-making-noise.html');">
                      <div class="md-list-item-text" layout="column">
                        <h3><a href = "https://www.nytimes.com/2018/01/28/sports/tennis/australian-open-roger-federer-marin-cilic.html">Roger Federer Wins the Australian Open for His 20th Grand Slam Title</a></h3>
                        <h4>By The NY TIMES</h4>
                        <p>MELBOURNE, Australia — There were tears, but that was to be expected from Roger Federer at the Australian Open. In the end, the most remarkable part of his 20th Grand Slam singles title was that it came as no surprise. Not even at age 36 in a sport where the spoils have generally been reserved for a much younger crowd...</p>
                      </div>
                    </md-list-item>
                    <hr></hr>
                    <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://www.nytimes.com/2018/01/27/business/its-not-a-roar-but-the-global-economy-is-finally-making-noise.html');">
                      <div class="md-list-item-text" layout="column">
                        <h3><a href = "https://www.nytimes.com/2018/01/27/business/mind-meld-bill-gates-steven-pinker.html">The Mind Meld of Bill Gates and Steven Pinker</a></h3>
                        <h4>By The NY TIMES</h4>
                        <p>The first two things you notice when you walk into Bill Gates’s private office, just outside Seattle, are a wall-size installation of the periodic table with a sample of each chemical element in its own glass-fronted vitrine and handsome bookshelves that reach nearly to the ceiling...</p>
                      </div>
                    </md-list-item>

                  </md-list>
                </md-content>
              </div>
            </div>
          </md-card>

          <!-- <div class="scrollbar scrollbar-primary">
            <div class="force-overflow">
            </div>
          </div> -->

      </div>
    </div>
  </div>
</div>


  </body>
</html>
