


<!DOCTYPE html>
<html lang="en" >


<head>



  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, links, icons" />

</head>


<body ng-app="MyApp">





<div class="content">
  <div class = "wrap"  ng-cloak="" class="carddemoInCardActions" ng-app="MyApp">
    <md-content class="md-padding" layout-xs="column" layout="row">
    

      <div flex-xs="" flex-gt-xs="40" layout="column">

        <md-card>

          <div  ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-app="MyApp">

          <div style ="width:100%;">

            <md-toolbar layout="row" class="md-hue-4">
              <div class="md-toolbar-tools">
                <span>Recent Votes</span>
              </div>
            </md-toolbar>

            <md-content>
              <md-list flex="">
                <md-subheader class="md-no-sticky">How Kamala voted on recent key legislation.</md-subheader>
                <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://projects.propublica.org/represent/bills/115/hr1625');">
                  <div class="md-list-item-text" layout="column">
                    <h3>Consolidated Appropriations Act, 2018</h3>
                    <h4>Voted <b>NO</b> on March 23, 2018</h4>
                    <p>A bill to amend the State Department Basic Authorities Act of 1956 to include severe forms of trafficking in persons within the definition of transnational organized crime for purposes of the rewards program of the Department of State, and for other purposes.</p>
                  </div>
                </md-list-item>
                <hr></hr>

                <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://projects.propublica.org/represent/bills/115/hr1865');">
                  <div class="md-list-item-text" layout="column">
                    <h3> Allow States and Victims to Fight Online Sex Trafficking Act of 2017</h3>
                    <h4>Voted <b>YES</b> on March 21, 2018</h4>
                    <p>A bill to amend the Communications Act of 1934 to clarify that section 230 of such Act does not prohibit the enforcement against providers and users of interactive computer services of Federal and State criminal and civil law relating to sexual exploitation of children or sex trafficking, and for other purposes.</p>
                  </div>
                </md-list-item>
                <hr></hr>

                <md-list-item class="md-3-line"  ng-click="null" style="background-color:white;" onclick="window.open('https://projects.propublica.org/represent/bills/115/sjres54');">
                  <div class="md-list-item-text" layout="column">
                    <h3> Joint resolution to direct the removal of United States Armed Forces from hostilities in the Republic of Yemen</h3>
                    <h4>Voted <b>NO</b> on March 20, 2018</h4>
                    <p>A joint resolution to direct the removal of United States Armed Forces from hostilities in the Republic of Yemen that have not been authorized by Congress.</p>
                  </div>
                </md-list-item>

              </md-list>
            </md-content>
          </div>
        </div>
        </md-card>





        </div>








      </div>
    </md-content>
  </div>
</div>


</body>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->


<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.7/angular-material.js'></script>


<script  src="js/index.js"></script>




</html>
